In [1]:
import pandas as pd

In [2]:
from sklearn.feature_extraction import DictVectorizer

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
from sklearn.metrics import mean_squared_error

## Download the data for January and February 2022.

In [5]:
# !wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-01.parquet

In [6]:
# !wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-02.parquet

In [41]:
jan_df = pd.read_parquet('yellow_tripdata_2022-01.parquet')

In [8]:
feb_df = pd.read_parquet('yellow_tripdata_2022-02.parquet')

## Read the data for January. How many columns are there?

In [42]:
jan_df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [43]:
len(jan_df.columns)

19

## Q2. Computing duration

What's the standard deviation of the trips duration in January?

In [44]:
jan_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [45]:
jan_df['trip_duration'] = jan_df['tpep_dropoff_datetime'] - jan_df['tpep_pickup_datetime']
jan_df['trip_duration'] = jan_df['trip_duration'].apply(lambda x:x.total_seconds() / 60)

jan_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_duration
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,17.816667
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,8.400000
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,8.966667
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0,10.033333
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0,37.533333

In [46]:
jan_df.trip_duration.std()

46.44530513776802

## Q3. Dropping outliers

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [47]:
jan_df['trip_duration'].describe()

count    2.463931e+06
mean     1.421220e+01
std      4.644531e+01
min     -3.442400e+03
25%      6.316667e+00
50%      1.018333e+01
75%      1.616667e+01
max      8.513183e+03
Name: trip_duration, dtype: float64

In [48]:
without_outliers = len(jan_df[(jan_df['trip_duration'] >= 1) & (jan_df['trip_duration'] <= 60)])
with_outliers = len(jan_df)

(without_outliers/with_outliers) * 100

98.27547930522405

In [49]:
jan_df = jan_df[(jan_df['trip_duration'] >= 1) & (jan_df['trip_duration'] <= 60)]

## Q4. One-hot encoding

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

Turn the dataframe into a list of dictionaries

Fit a dictionary vectorizer

Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

In [19]:
categorical = ['PULocationID', 'DOLocationID']

jan_df[categorical] = jan_df[categorical].astype(str)

In [20]:
dicts = jan_df[categorical].to_dict(orient='records')

In [21]:
dv = DictVectorizer()
X_train = dv.fit_transform(dicts)

In [22]:
X_train

<2421440x515 sparse matrix of type '<class 'numpy.float64'>'
	with 4842880 stored elements in Compressed Sparse Row format>

In [23]:
dv.feature_names_

['DOLocationID=1',
 'DOLocationID=10',
 'DOLocationID=100',
 'DOLocationID=101',
 'DOLocationID=102',
 'DOLocationID=105',
 'DOLocationID=106',
 'DOLocationID=107',
 'DOLocationID=108',
 'DOLocationID=109',
 'DOLocationID=11',
 'DOLocationID=111',
 'DOLocationID=112',
 'DOLocationID=113',
 'DOLocationID=114',
 'DOLocationID=115',
 'DOLocationID=116',
 'DOLocationID=117',
 'DOLocationID=118',
 'DOLocationID=119',
 'DOLocationID=12',
 'DOLocationID=120',
 'DOLocationID=121',
 'DOLocationID=122',
 'DOLocationID=123',
 'DOLocationID=124',
 'DOLocationID=125',
 'DOLocationID=126',
 'DOLocationID=127',
 'DOLocationID=128',
 'DOLocationID=129',
 'DOLocationID=13',
 'DOLocationID=130',
 'DOLocationID=131',
 'DOLocationID=132',
 'DOLocationID=133',
 'DOLocationID=134',
 'DOLocationID=135',
 'DOLocationID=136',
 'DOLocationID=137',
 'DOLocationID=138',
 'DOLocationID=139',
 'DOLocationID=14',
 'DOLocationID=140',
 'DOLocationID=141',
 'DOLocationID=142',
 'DOLocationID=143',
 'DOLocationID=144',
 'DOLocationID=145',
 'DOLocationID=146',
 'DOLocationID=147',
 'DOLocationID=148',
 'DOLocationID=149',
 'DOLocationID=15',
 'DOLocationID=150',
 'DOLocationID=151',
 'DOLocationID=152',
 'DOLocationID=153',
 'DOLocationID=154',
 'DOLocationID=155',
 'DOLocationID=156',
 'DOLocationID=157',
 'DOLocationID=158',
 'DOLocationID=159',
 'DOLocationID=16',
 'DOLocationID=160',
 'DOLocationID=161',
 'DOLocationID=162',
 'DOLocationID=163',
 'DOLocationID=164',
 'DOLocationID=165',
 'DOLocationID=166',
 'DOLocationID=167',
 'DOLocationID=168',
 'DOLocationID=169',
 'DOLocationID=17',
 'DOLocationID=170',
 'DOLocationID=171',
 'DOLocationID=172',
 'DOLocationID=173',
 'DOLocationID=174',
 'DOLocationID=175',
 'DOLocationID=176',
 'DOLocationID=177',
 'DOLocationID=178',
 'DOLocationID=179',
 'DOLocationID=18',
 'DOLocationID=180',
 'DOLocationID=181',
 'DOLocationID=182',
 'DOLocationID=183',
 'DOLocationID=184',
 'DOLocationID=185',
 'DOLocationID=186',
 'DOLocationID=187',
 'DOLocationID=188',
 'DOLocationID=189',
 'DOLocationID=19',
 'DOLocationID=190',
 'DOLocationID=191',
 'DOLocationID=192',
 'DOLocationID=193',
 'DOLocationID=194',
 'DOLocationID=195',
 'DOLocationID=196',
 'DOLocationID=197',
 'DOLocationID=198',
 'DOLocationID=2',
 'DOLocationID=20',
 'DOLocationID=200',
 'DOLocationID=201',
 'DOLocationID=202',
 'DOLocationID=203',
 'DOLocationID=204',
 'DOLocationID=205',
 'DOLocationID=206',
 'DOLocationID=207',
 'DOLocationID=208',
 'DOLocationID=209',
 'DOLocationID=21',
 'DOLocationID=210',
 'DOLocationID=211',
 'DOLocationID=212',
 'DOLocationID=213',
 'DOLocationID=214',
 'DOLocationID=215',
 'DOLocationID=216',
 'DOLocationID=217',
 'DOLocationID=218',
 'DOLocationID=219',
 'DOLocationID=22',
 'DOLocationID=220',
 'DOLocationID=221',
 'DOLocationID=222',
 'DOLocationID=223',
 'DOLocationID=224',
 'DOLocationID=225',
 'DOLocationID=226',
 'DOLocationID=227',
 'DOLocationID=228',
 'DOLocationID=229',
 'DOLocationID=23',
 'DOLocationID=230',
 'DOLocationID=231',
 'DOLocationID=232',
 'DOLocationID=233',
 'DOLocationID=234',
 'DOLocationID=235',
 'DOLocationID=236',
 'DOLocationID=237',
 'DOLocationID=238',
 'DOLocationID=239',
 'DOLocationID=24',
 'DOLocationID=240',
 'DOLocationID=241',
 'DOLocationID=242',
 'DOLocationID=243',
 'DOLocationID=244',
 'DOLocationID=245',
 'DOLocationID=246',
 'DOLocationID=247',
 'DOLocationID=248',
 'DOLocationID=249',
 'DOLocationID=25',
 'DOLocationID=250',
 'DOLocationID=251',
 'DOLocationID=252',
 'DOLocationID=253',
 'DOLocationID=254',
 'DOLocationID=255',
 'DOLocationID=256',
 'DOLocationID=257',
 'DOLocationID=258',
 'DOLocationID=259',
 'DOLocationID=26',
 'DOLocationID=260',
 'DOLocationID=261',
 'DOLocationID=262',
 'DOLocationID=263',
 'DOLocationID=264',
 'DOLocationID=265',
 'DOLocationID=27',
 'DOLocationID=28',
 'DOLocationID=29',
 'DOLocationID=3',
 'DOLocationID=30',
 'DOLocationID=31',
 'DOLocationID=32',
 'DOLocationID=33',
 'DOLocationID=34',
 'DOLocationID=35',
 'DOLocationID=36',
 'DOLocationID=37',
 'DOLocationID=38',
 'DOLocationID=39',
 'DOLocationID=4',
 'DOLocationID=40',
 'DOLocationID=41',
 'DOLocationID=42',
 'DOLocationID=43',
 'DOLocationID=44',
 'DOLocationID=45',
 'DOLocationID=46',
 'DOLocationID=47',
 'DOLocationID=48',
 'DOLocationID=49',
 'DOLocationID=5',
 'DOLocationID=50',
 'DOLocationID=51',
 'DOLocationID=52',
 'DOLocationID=53',
 'DOLocationID=54',
 'DOLocationID=55',
 'DOLocationID=56',
 'DOLocationID=57',
 'DOLocationID=58',
 'DOLocationID=59',
 'DOLocationID=6',
 'DOLocationID=60',
 'DOLocationID=61',
 'DOLocationID=62',
 'DOLocationID=63',
 'DOLocationID=64',
 'DOLocationID=65',
 'DOLocationID=66',
 'DOLocationID=67',
 'DOLocationID=68',
 'DOLocationID=69',
 'DOLocationID=7',
 'DOLocationID=70',
 'DOLocationID=71',
 'DOLocationID=72',
 'DOLocationID=73',
 'DOLocationID=74',
 'DOLocationID=75',
 'DOLocationID=76',
 'DOLocationID=77',
 'DOLocationID=78',
 'DOLocationID=79',
 'DOLocationID=8',
 'DOLocationID=80',
 'DOLocationID=81',
 'DOLocationID=82',
 'DOLocationID=83',
 'DOLocationID=84',
 'DOLocationID=85',
 'DOLocationID=86',
 'DOLocationID=87',
 'DOLocationID=88',
 'DOLocationID=89',
 'DOLocationID=9',
 'DOLocationID=90',
 'DOLocationID=91',
 'DOLocationID=92',
 'DOLocationID=93',
 'DOLocationID=94',
 'DOLocationID=95',
 'DOLocationID=96',
 'DOLocationID=97',
 'DOLocationID=98',
 'DOLocationID=99',
 'PULocationID=1',
 'PULocationID=10',
 'PULocationID=100',
 'PULocationID=101',
 'PULocationID=102',
 'PULocationID=105',
 'PULocationID=106',
 'PULocationID=107',
 'PULocationID=108',
 'PULocationID=109',
 'PULocationID=11',
 'PULocationID=111',
 'PULocationID=112',
 'PULocationID=113',
 'PULocationID=114',
 'PULocationID=115',
 'PULocationID=116',
 'PULocationID=117',
 'PULocationID=118',
 'PULocationID=119',
 'PULocationID=12',
 'PULocationID=120',
 'PULocationID=121',
 'PULocationID=122',
 'PULocationID=123',
 'PULocationID=124',
 'PULocationID=125',
 'PULocationID=126',
 'PULocationID=127',
 'PULocationID=128',
 'PULocationID=129',
 'PULocationID=13',
 'PULocationID=130',
 'PULocationID=131',
 'PULocationID=132',
 'PULocationID=133',
 'PULocationID=134',
 'PULocationID=135',
 'PULocationID=136',
 'PULocationID=137',
 'PULocationID=138',
 'PULocationID=139',
 'PULocationID=14',
 'PULocationID=140',
 'PULocationID=141',
 'PULocationID=142',
 'PULocationID=143',
 'PULocationID=144',
 'PULocationID=145',
 'PULocationID=146',
 'PULocationID=147',
 'PULocationID=148',
 'PULocationID=149',
 'PULocationID=15',
 'PULocationID=150',
 'PULocationID=151',
 'PULocationID=152',
 'PULocationID=153',
 'PULocationID=154',
 'PULocationID=155',
 'PULocationID=156',
 'PULocationID=157',
 'PULocationID=158',
 'PULocationID=159',
 'PULocationID=16',
 'PULocationID=160',
 'PULocationID=161',
 'PULocationID=162',
 'PULocationID=163',
 'PULocationID=164',
 'PULocationID=165',
 'PULocationID=166',
 'PULocationID=167',
 'PULocationID=168',
 'PULocationID=169',
 'PULocationID=17',
 'PULocationID=170',
 'PULocationID=171',
 'PULocationID=173',
 'PULocationID=174',
 'PULocationID=175',
 'PULocationID=177',
 'PULocationID=178',
 'PULocationID=179',
 'PULocationID=18',
 'PULocationID=180',
 'PULocationID=181',
 'PULocationID=182',
 'PULocationID=183',
 'PULocationID=184',
 'PULocationID=185',
 'PULocationID=186',
 'PULocationID=187',
 'PULocationID=188',
 'PULocationID=189',
 'PULocationID=19',
 'PULocationID=190',
 'PULocationID=191',
 'PULocationID=192',
 'PULocationID=193',
 'PULocationID=194',
 'PULocationID=195',
 'PULocationID=196',
 'PULocationID=197',
 'PULocationID=198',
 'PULocationID=2',
 'PULocationID=20',
 'PULocationID=200',
 'PULocationID=201',
 'PULocationID=202',
 'PULocationID=203',
 'PULocationID=205',
 'PULocationID=206',
 'PULocationID=207',
 'PULocationID=208',
 'PULocationID=209',
 'PULocationID=21',
 'PULocationID=210',
 'PULocationID=211',
 'PULocationID=212',
 'PULocationID=213',
 'PULocationID=214',
 'PULocationID=215',
 'PULocationID=216',
 'PULocationID=217',
 'PULocationID=218',
 'PULocationID=219',
 'PULocationID=22',
 'PULocationID=220',
 'PULocationID=221',
 'PULocationID=222',
 'PULocationID=223',
 'PULocationID=224',
 'PULocationID=225',
 'PULocationID=226',
 'PULocationID=227',
 'PULocationID=228',
 'PULocationID=229',
 'PULocationID=23',
 'PULocationID=230',
 'PULocationID=231',
 'PULocationID=232',
 'PULocationID=233',
 'PULocationID=234',
 'PULocationID=235',
 'PULocationID=236',
 'PULocationID=237',
 'PULocationID=238',
 'PULocationID=239',
 'PULocationID=24',
 'PULocationID=240',
 'PULocationID=241',
 'PULocationID=242',
 'PULocationID=243',
 'PULocationID=244',
 'PULocationID=245',
 'PULocationID=246',
 'PULocationID=247',
 'PULocationID=248',
 'PULocationID=249',
 'PULocationID=25',
 'PULocationID=250',
 'PULocationID=252',
 'PULocationID=253',
 'PULocationID=254',
 'PULocationID=255',
 'PULocationID=256',
 'PULocationID=257',
 'PULocationID=258',
 'PULocationID=259',
 'PULocationID=26',
 'PULocationID=260',
 'PULocationID=261',
 'PULocationID=262',
 'PULocationID=263',
 'PULocationID=264',
 'PULocationID=265',
 'PULocationID=28',
 'PULocationID=29',
 'PULocationID=3',
 'PULocationID=30',
 'PULocationID=31',
 'PULocationID=32',
 'PULocationID=33',
 'PULocationID=34',
 'PULocationID=35',
 'PULocationID=36',
 'PULocationID=37',
 'PULocationID=38',
 'PULocationID=39',
 'PULocationID=4',
 'PULocationID=40',
 'PULocationID=41',
 'PULocationID=42',
 'PULocationID=43',
 'PULocationID=44',
 'PULocationID=45',
 'PULocationID=46',
 'PULocationID=47',
 'PULocationID=48',
 'PULocationID=49',
 'PULocationID=5',
 'PULocationID=50',
 'PULocationID=51',
 'PULocationID=52',
 'PULocationID=53',
 'PULocationID=54',
 'PULocationID=55',
 'PULocationID=56',
 'PULocationID=57',
 'PULocationID=58',
 'PULocationID=59',
 'PULocationID=6',
 'PULocationID=60',
 'PULocationID=61',
 'PULocationID=62',
 'PULocationID=63',
 'PULocationID=64',
 'PULocationID=65',
 'PULocationID=66',
 'PULocationID=67',
 'PULocationID=68',
 'PULocationID=69',
 'PULocationID=7',
 'PULocationID=70',
 'PULocationID=71',
 'PULocationID=72',
 'PULocationID=73',
 'PULocationID=74',
 'PULocationID=75',
 'PULocationID=76',
 'PULocationID=77',
 'PULocationID=78',
 'PULocationID=79',
 'PULocationID=8',
 'PULocationID=80',
 'PULocationID=81',
 'PULocationID=82',
 'PULocationID=83',
 'PULocationID=85',
 'PULocationID=86',
 'PULocationID=87',
 'PULocationID=88',
 'PULocationID=89',
 'PULocationID=9',
 'PULocationID=90',
 'PULocationID=91',
 'PULocationID=92',
 'PULocationID=93',
 'PULocationID=94',
 'PULocationID=95',
 'PULocationID=96',
 'PULocationID=97',
 'PULocationID=98']

In [23]:
len(dv.feature_names_)

515

## Q5. Training a model

Now let's use the feature matrix from the previous step to train a model.

    -Train a plain linear regression model with default parameters

    -Calculate the RMSE of the model on the training data

What's the RMSE on train?

In [24]:
target = ['trip_duration']

y_train = jan_df[target].values

In [25]:
y_train

array([[17.81666667],
       [ 8.4       ],
       [ 8.96666667],
       ...,
       [11.        ],
       [12.05      ],
       [27.        ]])

In [26]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [27]:
y_pred = lr.predict(X_train)

In [28]:
mean_squared_error(y_train, y_pred, squared=False)

6.986190814952337

## Q6. Evaluating the model

Now let's apply this model to the validation dataset (February 2022).

What's the RMSE on validation?

In [29]:
feb_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.0,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.0,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.5,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.0,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.5,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25

In [30]:
feb_df['trip_duration'] = feb_df['tpep_dropoff_datetime'] - feb_df['tpep_pickup_datetime']
feb_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_duration
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.0,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25,0 days 00:12:26
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.0,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25,0 days 00:17:33
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.5,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25,0 days 00:23:39
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.0,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00,0 days 00:20:05
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.5,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25,0 days 00:26:19

In [31]:
feb_df['trip_duration'] = feb_df['trip_duration'].apply(lambda x:x.total_seconds() / 60)

In [32]:
len(feb_df)

2979431

In [33]:
feb_df = feb_df[(feb_df['trip_duration']>=1 ) & (feb_df['trip_duration']<=60)]
feb_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_duration
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.0,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25,12.433333
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.0,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25,17.550000
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.5,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25,23.650000
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.0,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00,20.083333
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.5,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25,26.316667

In [34]:
len(feb_df)

2918187

In [35]:
feb_df[categorical] = feb_df[categorical].astype(str)
dicts_val = feb_df[categorical].to_dict(orient='records')

# dv_val = DictVectorizer()
X_val = dv.transform(dicts_val)

In [36]:
len(dv.feature_names_)

515

In [37]:
# len(set(dv.feature_names_).intersection(set(dv_val.feature_names_)))

In [38]:
y_val = feb_df[target].values

In [39]:
y_pred = lr.predict(X_val)

In [40]:
mean_squared_error(y_val, y_pred, squared=False)

7.786407163179794